@model TaskResponse

<h2>Confirm Deletion</h2>
<br />
<h3>Are you sure you want to delete  @Model.Task? </h3>
<br />

<div>
    <form method="post" asp-controller="Home" asp-action="Delete">
        <button type="submit" class="btn btn-light">Delete</button>
        <a asp-controller="Home" asp-action="Quadrants" class="btn btn-primary">Cancel</a>

        <input type="hidden" asp-for="TaskID" />
    </form>
</div>