


<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h4>Urgent</h4></div>
        <div class="col-4"><h4>Not Urgent</h4></div>
    </div>
    <div class="row">
        <div class="col-4"><h4>Important</h4></div>
        <div class="col-4">
            <h6>Quadrant 1</h6>
            @*@foreach (var x in Model)@*@
        </div>
        <div class="col"><h6>Quadrant 2</h6></div>
    </div>
    <div class="row">
        <div class="col-4"><h4>Not Important</h4></div>
        <div class="col"><h6>Quadrant 3</h6></div>
        <div class="col"><h6>Quadrant 4</h6></div>
    </div>
</div>